* {
  font-family: "Roboto Condensed", sans-serif;
}
a {
  color: white !important;
}
ul li:hover {
  background-color: #757575;
  color: #fff;
  border-radius: 5px;
  transition: 0.6s ease;
}
.active {
  background-color: #757575;
  color: #fff;
}
